In [17]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv" 
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [2]:
#school_data.head(2)

In [3]:
# student_data.head(2)

In [4]:
# school_data_complete.head(2)

# # HELP QUESTION: WOULD THIS WORK IF THERE WERE DUPLICATE ROWS?
# total_schools = len(school_data)
# total_schools

In [5]:
# School Data Summary Stats
schldat_description_df = school_data.describe()

In [6]:
# # Student Data Summary Stats
studat_description_df = student_data.describe()

In [7]:
# District Summary
# Calculate the total number of schools
# Calculate the total number of students
# Calculate the total budget
# Calculate the average math score
# Calculate the average reading score
# Calculate the percentage of students with a passing math score (70 or greater)
# Calculate the percentage of students with a passing reading score (70 or greater)
# Calculate the percentage of students who passed math and reading (% Overall Passing)
# Create a dataframe to hold the above results
# Optional: give the displayed data cleaner formatting

# Calculate the number of schools
total_schools = schldat_description_df.loc["count","size" ]
total_schools = len(school_data)

# Calculate the total number of students
total_students = studat_description_df.loc["count","Student ID" ]

# # Calculate the total budget
total_budget = school_data["budget"].sum()

# * Average math score
average_math = student_data["math_score"].mean()

# * Average reading score
average_reading = student_data["reading_score"].mean()

# * % passing math (the percentage of students who passed math)
math_stupassed = student_data.loc[student_data["math_score"]>=70,:]
math_passed = len(math_stupassed)/total_students*100

# * % passing reading (the percentage of students who passed reading)
#reading_passed = student_data
read_stupassed = student_data.loc[student_data["reading_score"]>=70,:]
read_passed = len(read_stupassed)/total_students*100

# * % overall passing (the percentage of students who passed math AND reading)
#overall_pass

#multiple criteria
passed_math_and_reading = student_data.loc[(student_data["math_score"] > 69) & (student_data["reading_score"] > 69), :]
passed_math_and_reading = len(passed_math_and_reading) / total_students * 100



# ______________________________District Summary Dataframe ___________________________

# Consolicate for DISTRICT SUMMARY dataframe: 


district_summary_df = pd.DataFrame({"Total Schools": [total_schools],
                               "Total Students": [total_students],
                               "Total Budget": [total_budget],
                               "Average math score": [average_math],
                               "Average reading score": [average_reading],
                               "% Passing Math": [math_passed],
                               "% Passing Reading": [read_passed],
                               "% Passing Overall": [passed_math_and_reading]})

# district_summary_df = district_summary_df[[
#     "Total Schools",
#     "Total Students",
#     "Total Budget",
#     "Average Math Score",
#     "Average Reading score",
#     "% Passing Math",
#     "% Passing Reading",
#     "% Passing Overall"
# ]]

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average math score,Average reading score,% Passing Math,% Passing Reading,% Passing Overall
0,15,"39,170.0","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [8]:
### School Summary

# Create a DataFrame that summarizes key metrics about each school, including the following:

# * School name
# * School type
# * Total students
# * Total school budget 
# * Per student budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)


# Determine the School Type
school_types = school_data.set_index(["school_name"])["type"]
#school_types


#Total Students
school_total_students = school_data.set_index(["school_name"]) ["size"]
#school_total_students

# #Total School Budget
total_school_budget = school_data.set_index(["school_name"]) ["budget"]
#total_school_budget

# #per student budget by school
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_student_budget = per_school_budget / school_total_students
#per_student_budget


# Average math per school
school_average_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]


# Average reading per school
school_average_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]


# Percentage of those who passed reading, math, and overall (both)

#     Start by getting the count of students who passed r, m, o
#     Students who passed math
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
#     Students who passed reading
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
#     Students who passed overall
school_passing_overall = school_data_complete[(school_data_complete["reading_score"] >= 70)
                                                & (school_data_complete["math_score"] >= 70)]


#     Percent calculations
pct_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / school_total_students * 100
pct_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / school_total_students * 100
pct_school_passing_overall = school_passing_overall.groupby(["school_name"]).count()["student_name"] / school_total_students * 100


# ______________________________School Summary Dataframe___________________________

# SCHOOL SUMMARY: 

# Consolidate to dataFrame
per_school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": school_total_students,
                                   "Total School Budget": total_school_budget,
                                   "Per Student Budget": per_student_budget,
                                   "Average Math Score": school_average_math,
                                   "Average Reading Score": school_average_reading,
                                   "% Passing Math": pct_school_passing_math,
                                   "% Passing Reading": pct_school_passing_reading,
                                   "% Overall Passing": pct_school_passing_overall})

# Minor data wrangling
per_school_summary = per_school_summary[[
    "School Type", "Total Students", "Total School Budget", "Per Student Budget",
    "Average Math Score", "Average Reading Score", 
    "% Passing Math", "% Passing Reading", 
    "% Overall Passing"
]]

per_school_summary_unformatted = per_school_summary

per_school_summary_unformatted = per_school_summary_unformatted


# per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
# per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

per_school_summary_unformatted

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [9]:

# per_school_summary_unformatted

# per_school_summary_unformatted['Per Student Budget'] = per_school_summary_unformatted['Per Student Budget'].str.replace('$', '')
# # per_school_summary_unformatted['Per Student Budget'] = per_school_summary_unformatted['Per Student Budget'].astype(float)

In [10]:
# ### Highest-Performing Schools (by % Overall Passing)

# Create a DataFrame that highlights the top 5 performing schools based on % Overall Passing. Include the following metrics:

# * School name
# * School type
# * Total students
# * Total school budget
# * Per student budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)


# ______________________________Highest-Performing School Summary Dataframe___________________________

high_performance_schools = per_school_summary.sort_values("% Overall Passing", ascending=False).head(5)
high_performance_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

In [11]:

# ### Lowest-Performing Schools (by % Overall Passing)

# Create a DataFrame that highlights the bottom 5 performing schools based on % Overall Passing. Include the following metrics:

# * School name
# * School type
# * Total students
# * Total school budget
# * Per student budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)


# ______________________________Lowest-Performing School Summary Dataframe___________________________


low_performance_schools = per_school_summary.sort_values("% Overall Passing", ascending=True).head(5)
low_performance_schools = low_performance_schools.sort_values("% Overall Passing", ascending=False)
low_performance_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247

In [38]:
# ### Math Scores by Grade

# Create a DataFrame that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# # Calculate the average
# average_math_for_student_grade = school_grade_group.mean()
# # Remove extraneous columns
# average_reading_for_student_grade = average_math_for_student_grade.drop(columns=['Student ID', 'math_score','School ID','size','budget'])
# # Print the dataframe
# average_reading_for_student_grade

#Score set by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")] # get more grades, 10, 11, 12
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")] # get more grades, 10, 11, 12
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")] # get more grades, 10, 11, 12
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")] # get more grades, 10, 11, 12

# Group by School
school_grade_group_ninth = ninth_graders.groupby(["school_name"])
school_grade_group_tenth = tenth_graders.groupby(["school_name"])
school_grade_group_eleventh = eleventh_graders.groupby(["school_name"])
school_grade_group_twelfth = twelfth_graders.groupby(["school_name"])

# Calculate the average
average_reading_for_student_grade_ninth = school_grade_group_ninth.mean()["math_score"].round(2)
average_reading_for_student_grade_tenth = school_grade_group_tenth.mean()["math_score"].round(2)
average_reading_for_student_grade_eleventh = school_grade_group_eleventh.mean()["math_score"].round(2)
average_reading_for_student_grade_twelfth = school_grade_group_twelfth.mean()["math_score"].round(2)


# This is a Dictionary of Lists
math_scores_by_grade = pd.DataFrame({
    "9th": average_reading_for_student_grade_ninth,
    "10th": average_reading_for_student_grade_tenth,
    "11th": average_reading_for_student_grade_eleventh,
    "12th": average_reading_for_student_grade_twelfth
})

math_scores_by_grade

                         9th   10th   11th   12th
school_name
Bailey High School     77.08  77.00  77.52  76.49
Cabrera High School    83.09  83.15  82.77  83.28
Figueroa High School   76.40  76.54  76.88  77.15
Ford High School       77.36  77.67  76.92  76.18
Griffin High School    82.04  84.23  83.84  83.36
Hernandez High School  77.44  77.34  77.14  77.19
Holden High School     83.79  83.43  85.00  82.86
Huang High School      77.03  75.91  76.45  77.23
Johnson High School    77.19  76.69  77.49  76.86
Pena High School       83.63  83.37  84.33  84.12
Rodriguez High School  76.86  76.61  76.40  77.69
Shelton High School    83.42  82.92  83.38  83.78
Thomas High School     83.59  83.09  83.50  83.50
Wilson High School     83.09  83.72  83.20  83.04
Wright High School     83.26  84.01  83.84  83.64

In [31]:
# ### Reading Scores by Grade

# Create a DataFrame that lists the average reading score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# # Group by School and Grade
# school_grade_group = school_data_complete.groupby(["school_name", "grade"])
# # Calculate the average
# average_math_for_student_grade = school_grade_group.mean()
# # Remove extraneous columns
# # Print the dataframe

#compile the score set for each grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")] # get more grades, 10, 11, 12
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")] # get more grades, 10, 11, 12
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")] # get more grades, 10, 11, 12
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")] # get more grades, 10, 11, 12

# Group by School
school_grade_group_ninth = ninth_graders.groupby(["school_name"])
school_grade_group_tenth = tenth_graders.groupby(["school_name"])
school_grade_group_eleventh = eleventh_graders.groupby(["school_name"])
school_grade_group_twelfth = twelfth_graders.groupby(["school_name"])

# Calculate the average
average_reading_for_student_grade_ninth = school_grade_group_ninth.mean()["reading_score"].round(2)
average_reading_for_student_grade_tenth = school_grade_group_tenth.mean()["reading_score"].round(2)
average_reading_for_student_grade_eleventh = school_grade_group_eleventh.mean()["reading_score"].round(2)
average_reading_for_student_grade_twelfth = school_grade_group_twelfth.mean()["reading_score"].round(2)

reading_scores_by_grade = pd.DataFrame({
    "9th": average_reading_for_student_grade_ninth,
    "10th": average_reading_for_student_grade_tenth,
    "11th": average_reading_for_student_grade_eleventh,
    "12th": average_reading_for_student_grade_twelfth
})

reading_scores_by_grade

                         9th   10th   11th   12th
school_name
Bailey High School     81.30  80.91  80.95  80.91
Cabrera High School    83.68  84.25  83.79  84.29
Figueroa High School   81.20  81.41  80.64  81.38
Ford High School       80.63  81.26  80.40  80.66
Griffin High School    83.37  83.71  84.29  84.01
Hernandez High School  80.87  80.66  81.40  80.86
Holden High School     83.68  83.32  83.82  84.70
Huang High School      81.29  81.51  81.42  80.31
Johnson High School    81.26  80.77  80.62  81.23
Pena High School       83.81  83.61  84.34  84.59
Rodriguez High School  80.99  80.63  80.86  80.38
Shelton High School    84.12  83.44  84.37  82.78
Thomas High School     83.73  84.25  83.59  83.83
Wilson High School     83.94  84.02  83.76  84.32
Wright High School     83.83  83.81  84.16  84.07

In [23]:
### Scores by School Spending

# Create a table that breaks down school performance based on average spending ranges (per student). Use your judgment to create four bins with reasonable cutoff values to group school spending. Include the following metrics in the table:

# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)


# Create the bins in which Data will be held
# Bins are 500, 550, 600, 650, 700

df = per_school_summary
df['Per Student Budget'] = df['Per Student Budget'].astype(float)


# create budget groups
bins = [0, 590, 610, 685]


# # Create the names for the five bins
group_names = ['<590', '590-610', '610-685']

# with bin add column
df["Per Student Budget Category"] = pd.cut(df['Per Student Budget'], bins, labels=group_names, include_lowest=True)

#df

#scores_by_per_student_spending = df.groupby(["Per Student Budget Category"])

df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Per Student Budget Category
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,610-685
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<590
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,610-685
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,610-685
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,610-685
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,610-685
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<590
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,610-685
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,610-685
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,590-610
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,610-685
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,590-610
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,610-685
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<590
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<590

In [24]:
#Calculate averages

scores_by_per_student_spending_math = df.groupby(["Per Student Budget Category"]).mean()["Average Math Score"]
scores_by_per_student_spending_reading = df.groupby(["Per Student Budget Category"]).mean()["Average Reading Score"]
scores_by_per_student_spending_pct_math = df.groupby(["Per Student Budget Category"]).mean()["% Passing Math"]
scores_by_per_student_spending_pct_reading = df.groupby(["Per Student Budget Category"]).mean()["% Passing Reading"]
scores_by_per_student_spending_overall = df.groupby(["Per Student Budget Category"]).mean()["% Overall Passing"]

spending_summary_df = pd.DataFrame({
                                    "Average Math Score": scores_by_per_student_spending_math.round(2),
                                    "Average Reading Score": scores_by_per_student_spending_reading.round(2),
                                    "% Passing Math": scores_by_per_student_spending_pct_math.round(2),
                                    "% Passing Reading": scores_by_per_student_spending_pct_reading.round(2),
                                    "% Overall Passing": scores_by_per_student_spending_overall.round(2)                                    
})

spending_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Per Student Budget Category,,,,,
<590,83.46,83.93,93.46,96.61,90.37
590-610,83.60,83.89,94.23,95.90,90.22
610-685,78.39,81.60,72.50,84.45,61.92

In [25]:
df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Per Student Budget Category
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,610-685
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<590
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,610-685
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,610-685
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,610-685
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,610-685
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<590
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,610-685
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,610-685
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,590-610
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,610-685
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,590-610
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,610-685
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<590
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<590

In [27]:
# ### Scores by School Size

# Create a table that breaks down school performance based on school size (small, medium, or large).

# Create the bins in which Data will be held
# Bins are 500, 550, 600, 650, 700

df = per_school_summary
df['Per Student Budget'] = df['Total Students'].astype(float)


# create budget groups
bins = [0, 1000, 2000, 5000 ]


# # Create the names for the five bins
group_names = ['Small', 'Medium', 'Large']

# with bin add column
df["School Size Category"] = pd.cut(df['Total Students'], bins, labels=group_names, include_lowest=True)

#df

#scores_by_per_student_spending = df.groupby(["Per Student Budget Category"])

df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Per Student Budget Category,School Size Bin,School Size Category
school_name,,,,,,,,,,,,
Bailey High School,District,4976,3124928,4976.0,77.048432,81.033963,66.680064,81.933280,54.642283,610-685,Large,Large
Cabrera High School,Charter,1858,1081356,1858.0,83.061895,83.975780,94.133477,97.039828,91.334769,<590,Medium,Medium
Figueroa High School,District,2949,1884411,2949.0,76.711767,81.158020,65.988471,80.739234,53.204476,610-685,Large,Large
Ford High School,District,2739,1763916,2739.0,77.102592,80.746258,68.309602,79.299014,54.289887,610-685,Large,Large
Griffin High School,Charter,1468,917500,1468.0,83.351499,83.816757,93.392371,97.138965,90.599455,610-685,Medium,Medium
Hernandez High School,District,4635,3022020,4635.0,77.289752,80.934412,66.752967,80.862999,53.527508,610-685,Large,Large
Holden High School,Charter,427,248087,427.0,83.803279,83.814988,92.505855,96.252927,89.227166,<590,Small,Small
Huang High School,District,2917,1910635,2917.0,76.629414,81.182722,65.683922,81.316421,53.513884,610-685,Large,Large
Johnson High School,District,4761,3094650,4761.0,77.072464,80.966394,66.057551,81.222432,53.539172,610-685,Large,Large
Pena High School,Charter,962,585858,962.0,83.839917,84.044699,94.594595,95.945946,90.540541,590-610,Small,Small
Rodriguez High School,District,3999,2547363,3999.0,76.842711,80.744686,66.366592,80.220055,52.988247,610-685,Large,Large
Shelton High School,Charter,1761,1056600,1761.0,83.359455,83.725724,93.867121,95.854628,89.892107,590-610,Medium,Medium
Thomas High School,Charter,1635,1043130,1635.0,83.418349,83.848930,93.272171,97.308869,90.948012,610-685,Medium,Medium
Wilson High School,Charter,2283,1319574,2283.0,83.274201,83.989488,93.867718,96.539641,90.582567,<590,Large,Large
Wright High School,Charter,1800,1049400,1800.0,83.682222,83.955000,93.333333,96.611111,90.333333,<590,Medium,Medium

In [28]:
#Calculate averages

total_students_spending_math = df.groupby(["School Size Category"]).mean()["Average Math Score"]
total_students_spending_reading = df.groupby(["School Size Category"]).mean()["Average Reading Score"]
total_students_spending_pct_math = df.groupby(["School Size Category"]).mean()["% Passing Math"]
total_students_spending_pct_reading = df.groupby(["School Size Category"]).mean()["% Passing Reading"]
total_students_spending_overall = df.groupby(["School Size Category"]).mean()["% Overall Passing"]

size_summary_df = pd.DataFrame({
                                    "Average Math Score": total_students_spending_math.round(2),
                                    "Average Reading Score": total_students_spending_reading.round(2),
                                    "% Passing Math": total_students_spending_pct_math.round(2),
                                    "% Passing Reading": total_students_spending_pct_reading.round(2),
                                    "% Overall Passing": total_students_spending_overall.round(2)                                    
})

size_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size Category,,,,,
Small,83.82,83.93,93.55,96.10,89.88
Medium,83.37,83.86,93.60,96.79,90.62
Large,77.75,81.34,69.96,82.77,58.29

In [30]:
# ### Scores by School Type

# Create a table that breaks down school performance based on type of school (district or charter).

# Group by School and Grade
scores_by_type = per_school_summary.groupby(["School Type"])

# Calculate the average
scores_by_type_math = scores_by_type.mean()["Average Math Score"].round(2)
scores_by_type_reading = scores_by_type.mean()["Average Reading Score"].round(2)
scores_by_type_pct_math = scores_by_type.mean()["% Passing Math"].round(2)
scores_by_type_pct_reading = scores_by_type.mean()["% Passing Reading"].round(2)
scores_by_type_pct_overall = scores_by_type.mean()["% Overall Passing"].round(2)

type_summary_df = pd.DataFrame({
                                    "Average Math Score": scores_by_type_math.round(2),
                                    "Average Reading Score": scores_by_type_reading.round(2),
                                    "% Passing Math": scores_by_type_pct_math.round(2),
                                    "% Passing Reading": scores_by_type_pct_reading.round(2),
                                    "% Overall Passing": scores_by_type_pct_overall.round(2)                                    
})

type_summary_df

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.47,83.90,93.62,96.59,90.43
District,76.96,80.97,66.55,80.80,53.67