In [37]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv" 
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [38]:
#school_data.head(2)

In [39]:
# student_data.head(2)

In [40]:
# school_data_complete.head(2)

# # HELP QUESTION: WOULD THIS WORK IF THERE WERE DUPLICATE ROWS?
# total_schools = len(school_data)
# total_schools

In [41]:
# School Data Summary Stats
schldat_description_df = school_data.describe()

In [42]:
# # Student Data Summary Stats
studat_description_df = student_data.describe()

In [43]:
# District Summary
# Calculate the total number of schools
# Calculate the total number of students
# Calculate the total budget
# Calculate the average math score
# Calculate the average reading score
# Calculate the percentage of students with a passing math score (70 or greater)
# Calculate the percentage of students with a passing reading score (70 or greater)
# Calculate the percentage of students who passed math and reading (% Overall Passing)
# Create a dataframe to hold the above results
# Optional: give the displayed data cleaner formatting

# Calculate the number of schools
total_schools = schldat_description_df.loc["count","size" ]
total_schools = len(school_data)

# Calculate the total number of students
total_students = studat_description_df.loc["count","Student ID" ]

# # Calculate the total budget
total_budget = school_data["budget"].sum()

# * Average math score
average_math = student_data["math_score"].mean()

# * Average reading score
average_reading = student_data["reading_score"].mean()

# * % passing math (the percentage of students who passed math)
math_stupassed = student_data.loc[student_data["math_score"]>=70,:]
math_passed = len(math_stupassed)/total_students*100

# * % passing reading (the percentage of students who passed reading)
#reading_passed = student_data
read_stupassed = student_data.loc[student_data["reading_score"]>=70,:]
read_passed = len(read_stupassed)/total_students*100

# * % overall passing (the percentage of students who passed math AND reading)
#overall_pass

#multiple criteria
passed_math_and_reading = student_data.loc[(student_data["math_score"] > 69) & (student_data["reading_score"] > 69), :]
passed_math_and_reading = len(passed_math_and_reading) / total_students * 100



# ______________________________District Summary Dataframe ___________________________

# Consolicate for DISTRICT SUMMARY dataframe: 


district_summary_df = pd.DataFrame({"Total Schools": [total_schools],
                               "Total Students": [total_students],
                               "Total Budget": [total_budget],
                               "Average math score": [average_math],
                               "Average reading score": [average_reading],
                               "% Passing Math": [math_passed],
                               "% Passing Reading": [read_passed],
                               "% Passing Overall": [passed_math_and_reading]})

# district_summary_df = district_summary_df[[
#     "Total Schools",
#     "Total Students",
#     "Total Budget",
#     "Average Math Score",
#     "Average Reading score",
#     "% Passing Math",
#     "% Passing Reading",
#     "% Passing Overall"
# ]]

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average math score,Average reading score,% Passing Math,% Passing Reading,% Passing Overall
0,15,"39,170.0","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [44]:
### School Summary

# Create a DataFrame that summarizes key metrics about each school, including the following:

# * School name
# * School type
# * Total students
# * Total school budget 
# * Per student budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)


# Determine the School Type
school_types = school_data.set_index(["school_name"])["type"]
#school_types


#Total Students
school_total_students = school_data.set_index(["school_name"]) ["size"]
#school_total_students

# #Total School Budget
total_school_budget = school_data.set_index(["school_name"]) ["budget"]
#total_school_budget

# #per student budget by school
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_student_budget = per_school_budget / school_total_students
#per_student_budget


# Average math per school
school_average_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]


# Average reading per school
school_average_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]


# Percentage of those who passed reading, math, and overall (both)

#     Start by getting the count of students who passed r, m, o
#     Students who passed math
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
#     Students who passed reading
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
#     Students who passed overall
school_passing_overall = school_data_complete[(school_data_complete["reading_score"] >= 70)
                                                & (school_data_complete["math_score"] >= 70)]


#     Percent calculations
pct_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / school_total_students * 100
pct_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / school_total_students * 100
pct_school_passing_overall = school_passing_overall.groupby(["school_name"]).count()["student_name"] / school_total_students * 100


# ______________________________School Summary Dataframe___________________________

# SCHOOL SUMMARY: 

# Consolidate to dataFrame
per_school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": school_total_students,
                                   "Total School Budget": total_school_budget,
                                   "Per Student Budget": per_student_budget,
                                   "Average Math Score": school_average_math,
                                   "Average Reading Score": school_average_reading,
                                   "% Passing Math": pct_school_passing_math,
                                   "% Passing Reading": pct_school_passing_reading,
                                   "% Overall Passing": pct_school_passing_overall})

# Minor data wrangling
per_school_summary = per_school_summary[[
    "School Type", "Total Students", "Total School Budget", "Per Student Budget",
    "Average Math Score", "Average Reading Score", 
    "% Passing Math", "% Passing Reading", 
    "% Overall Passing"
]]


per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [45]:
# ### Highest-Performing Schools (by % Overall Passing)

# Create a DataFrame that highlights the top 5 performing schools based on % Overall Passing. Include the following metrics:

# * School name
# * School type
# * Total students
# * Total school budget
# * Per student budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)


# ______________________________Highest-Performing School Summary Dataframe___________________________

high_performance_schools = per_school_summary.sort_values("% Overall Passing", ascending=False).head(5)
high_performance_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [46]:

# ### Lowest-Performing Schools (by % Overall Passing)

# Create a DataFrame that highlights the bottom 5 performing schools based on % Overall Passing. Include the following metrics:

# * School name
# * School type
# * Total students
# * Total school budget
# * Per student budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)


# ______________________________Lowest-Performing School Summary Dataframe___________________________


low_performance_schools = per_school_summary.sort_values("% Overall Passing", ascending=True).head(5)
low_performance_schools = low_performance_schools.sort_values("% Overall Passing", ascending=False)
low_performance_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247

In [47]:
# ### Math Scores by Grade

# Create a DataFrame that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# # Calculate the average
# average_math_for_student_grade = school_grade_group.mean()
# # Remove extraneous columns
# average_reading_for_student_grade = average_math_for_student_grade.drop(columns=['Student ID', 'math_score','School ID','size','budget'])
# # Print the dataframe
# average_reading_for_student_grade

#Score set by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")] # get more grades, 10, 11, 12
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")] # get more grades, 10, 11, 12
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")] # get more grades, 10, 11, 12
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")] # get more grades, 10, 11, 12

# Group by School
school_grade_group_ninth = ninth_graders.groupby(["school_name"])
school_grade_group_tenth = tenth_graders.groupby(["school_name"])
school_grade_group_eleventh = eleventh_graders.groupby(["school_name"])
school_grade_group_twelfth = twelfth_graders.groupby(["school_name"])

# Calculate the average
average_reading_for_student_grade_ninth = school_grade_group_ninth.mean()["math_score"]
average_reading_for_student_grade_tenth = school_grade_group_tenth.mean()["math_score"]
average_reading_for_student_grade_eleventh = school_grade_group_eleventh.mean()["math_score"]
average_reading_for_student_grade_twelfth = school_grade_group_twelfth.mean()["math_score"]


# This is a Dictionary of Lists
math_scores_by_grade = pd.DataFrame({
    "9th": average_reading_for_student_grade_ninth,
    "10th": average_reading_for_student_grade_tenth,
    "11th": average_reading_for_student_grade_eleventh,
    "12th": average_reading_for_student_grade_twelfth
})

math_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

In [48]:
# ### Reading Scores by Grade

# Create a DataFrame that lists the average reading score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# # Group by School and Grade
# school_grade_group = school_data_complete.groupby(["school_name", "grade"])
# # Calculate the average
# average_math_for_student_grade = school_grade_group.mean()
# # Remove extraneous columns
# # Print the dataframe

#compile the score set for each grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")] # get more grades, 10, 11, 12
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")] # get more grades, 10, 11, 12
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")] # get more grades, 10, 11, 12
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")] # get more grades, 10, 11, 12

# Group by School
school_grade_group_ninth = ninth_graders.groupby(["school_name"])
school_grade_group_tenth = tenth_graders.groupby(["school_name"])
school_grade_group_eleventh = eleventh_graders.groupby(["school_name"])
school_grade_group_twelfth = twelfth_graders.groupby(["school_name"])

# Calculate the average
average_reading_for_student_grade_ninth = school_grade_group_ninth.mean()["reading_score"]
average_reading_for_student_grade_tenth = school_grade_group_tenth.mean()["reading_score"]
average_reading_for_student_grade_eleventh = school_grade_group_eleventh.mean()["reading_score"]
average_reading_for_student_grade_twelfth = school_grade_group_twelfth.mean()["reading_score"]

reading_scores_by_grade = pd.DataFrame({
    "9th": average_reading_for_student_grade_ninth,
    "10th": average_reading_for_student_grade_tenth,
    "11th": average_reading_for_student_grade_eleventh,
    "12th": average_reading_for_student_grade_twelfth
})

reading_scores_by_grade

                             9th       10th       11th       12th
school_name
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

In [62]:
### Scores by School Spending

# Create a table that breaks down school performance based on average spending ranges (per student). Use your judgment to create four bins with reasonable cutoff values to group school spending. Include the following metrics in the table:

# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)


# Create the bins in which Data will be held
# Bins are 500, 550, 600, 650, 700

df = per_school_summary
df

# create budget groups
bins = [500.00, 550.00, 600.00, 650.00, 700.00]


# # Create the names for the five bins
group_names = ['Lowest', 'Low to Mid', 'Mid', 'Mid to High', 'Highest']

# with bin add column
#df["Test Score Summary"] = pd.cut(df['Per Student Budget'], bins, labels=group_names, include_lowest=True)
df.dtypes

TypeError: '<' not supported between instances of 'float' and 'str'

In [50]:
# ### Scores by School Size

# Create a table that breaks down school performance based on school size (small, medium, or large).

In [51]:
# ### Scores by School Type

# Create a table that breaks down school performance based on type of school (district or charter).

# Group by School and Grade
scores_by_type = per_school_summary.groupby(["School Type"])

# Calculate the average
scores_by_type = scores_by_type.mean()
# # Remove extraneous columns
# average_reading_for_student_grade = average_math_for_student_grade.drop(columns=['Student ID', 'math_score','School ID','size','budget'])
# # Print the dataframe
scores_by_type

,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,,
Charter,1524.250000,83.473852,83.896421,93.620830,96.586489,90.432244
District,3853.714286,76.956733,80.966636,66.548453,80.799062,53.672208