In [1]:
hello = "You got this!"

In [2]:
hello

'You got this!'

In [3]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [4]:
#Xolumns StudentData
for col in student_data.columns:
     print(col)

Student ID
student_name
gender
grade
school_name
reading_score
math_score

In [8]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [12]:
schldat_description_df = school_data.describe()

schldat_description_df

       School ID         size        budget
count  15.000000    15.000000  1.500000e+01
mean    7.000000  2611.333333  1.643295e+06
std     4.472136  1420.915282  9.347763e+05
min     0.000000   427.000000  2.480870e+05
25%     3.500000  1698.000000  1.046265e+06
50%     7.000000  2283.000000  1.319574e+06
75%    10.500000  3474.000000  2.228999e+06
max    14.000000  4976.000000  3.124928e+06

In [13]:
studat_description_df = student_data.describe()
studat_description_df

         Student ID  reading_score    math_score
count  39170.000000    39170.00000  39170.000000
mean   19584.500000       81.87784     78.985371
std    11307.549359       10.23958     12.309968
min        0.000000       63.00000     55.000000
25%     9792.250000       73.00000     69.000000
50%    19584.500000       82.00000     79.000000
75%    29376.750000       91.00000     89.000000
max    39169.000000       99.00000     99.000000

In [23]:
school_data.head()

   School ID            school_name      type  size   budget
0          0      Huang High School  District  2917  1910635
1          1   Figueroa High School  District  2949  1884411
2          2    Shelton High School   Charter  1761  1056600
3          3  Hernandez High School  District  4635  3022020
4          4    Griffin High School   Charter  1468   917500

In [14]:
# Calculate the number of schools
#total_schools = len(school_data)
total_schools = schldat_description_df.loc["count","size" ]
total_schools

15.0

In [15]:
# Calculate the total number of students
#total_students = len(student_data)
total_students = studat_description_df.loc["count","Student ID" ]

total_students

39170.0

In [16]:
# Calculate the total budget
#total_budget = school_data["budget"].sum()
total_budget = schldat_description_df.loc["count","budget" ]
total_budget

15.0

In [17]:
# for col in student_data.columns:
#     print(col)

# * Average math score
average_math = student_data["math_score"].mean()
average_math

78.98537145774827

In [18]:
# * Average reading score
average_reading = student_data["reading_score"].mean()
average_reading

81.87784018381414

In [19]:
# * % passing math (the percentage of students who passed math)
math_stupassed = student_data.loc[student_data["math_score"]>69,:]

math_passed = len(math_stupassed)/total_students*100
      
math_passed

74.9808526933878

In [22]:
# * % passing reading (the percentage of students who passed reading)
#reading_passed = student_data

read_stupassed = student_data.loc[student_data["reading_score"]>69,:]

read_passed = len(read_stupassed)/total_students*100
      
read_passed

85.80546336482001

In [49]:

# * % overall passing (the percentage of students who passed math AND reading)
#overall_pass

#multiple criteria
passed_math_and_reading = student_data.loc[(student_data["math_score"] > 69) & (student_data["reading_score"] > 69), :]
#passed_math_and_reading = student_data.loc[student_data["math_score"] >69, :]
#passed_math_and_reading = student_data.loc[student_data["reading_score"] >69, :]

passed_math_and_reading = len(passed_math_and_reading) / total_students * 100

passed_math_and_reading

65.17232575950983

In [50]:
# DISTRICT SUMMARY: 



summary_df = pd.DataFrame({"Total Schools": total_schools,
                               "Total Students": total_students,
                               "Total Budget": total_budget,
                               "Average math score": average_math,
                               "Average reading score": average_reading,
                               "% passing math (the percentage of students who passed math)": math_passed,
                               "% passing reading (the percentage of students who passed reading)": read_passed,
                               "% passing overall (the percentage of students who passed math AND reading)": passed_math_and_reading})
summary_df

ValueError: If using all scalar values, you must pass an index

In [37]:
### School Summary

# Create a DataFrame that summarizes key metrics about each school, including the following:

# * School name
# * School type
# * Total students
# * Total school budget 
# * Per student budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)




per_student = school_data["budget"] / school_data["size"]

school_data["per_student"] = per_student

school_data.head()

   School ID            school_name      type  size   budget  per_student
0          0      Huang High School  District  2917  1910635        655.0
1          1   Figueroa High School  District  2949  1884411        639.0
2          2    Shelton High School   Charter  1761  1056600        600.0
3          3  Hernandez High School  District  4635  3022020        652.0
4          4    Griffin High School   Charter  1468   917500        625.0

In [ ]:
# ### Highest-Performing Schools (by % Overall Passing)

# Create a DataFrame that highlights the top 5 performing schools based on % Overall Passing. Include the following metrics:

# * School name
# * School type
# * Total students
# * Total school budget
# * Per student budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)

In [ ]:

# ### Lowest-Performing Schools (by % Overall Passing)

# Create a DataFrame that highlights the bottom 5 performing schools based on % Overall Passing. Include the following metrics:

# * School name
# * School type
# * Total students
# * Total school budget
# * Per student budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)

In [ ]:
# ### Math Scores by Grade

# Create a DataFrame that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# ### Reading Scores by Grade

# Create a DataFrame that lists the average reading score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# ### Scores by School Spending

# Create a table that breaks down school performance based on average spending ranges (per student). Use your judgment to create four bins with reasonable cutoff values to group school spending. Include the following metrics in the table:

# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)

# ### Scores by School Size

# Create a table that breaks down school performance based on school size (small, medium, or large).
# ### Scores by School Type

# Create a table that breaks down school performance based on type of school (district or charter).