In [31]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv" 
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [32]:
# school_data.head(2)

In [33]:
# student_data.head(2)

In [34]:
# school_data_complete.head(2)

In [35]:
#School Data Summary Stats
schldat_description_df = school_data.describe()

In [36]:
#Student Data Summary Stats
studat_description_df = student_data.describe()

In [39]:
# District Summary
# Calculate the total number of schools
# Calculate the total number of students
# Calculate the total budget
# Calculate the average math score
# Calculate the average reading score
# Calculate the percentage of students with a passing math score (70 or greater)
# Calculate the percentage of students with a passing reading score (70 or greater)
# Calculate the percentage of students who passed math and reading (% Overall Passing)
# Create a dataframe to hold the above results
# Optional: give the displayed data cleaner formatting

# Calculate the number of schools
total_schools = schldat_description_df.loc["count","size" ]

# Calculate the total number of students
total_students = studat_description_df.loc["count","Student ID" ]

# # Calculate the total budget
total_budget = school_data["budget"].sum()

# * Average math score
average_math = student_data["math_score"].mean()

# * Average reading score
average_reading = student_data["reading_score"].mean()

# * % passing math (the percentage of students who passed math)
math_stupassed = student_data.loc[student_data["math_score"]>=70,:]
math_passed = len(math_stupassed)/total_students*100

# * % passing reading (the percentage of students who passed reading)
#reading_passed = student_data
read_stupassed = student_data.loc[student_data["reading_score"]>=70,:]
read_passed = len(read_stupassed)/total_students*100

# * % overall passing (the percentage of students who passed math AND reading)
#overall_pass

#multiple criteria
passed_math_and_reading = student_data.loc[(student_data["math_score"] > 69) & (student_data["reading_score"] > 69), :]
passed_math_and_reading = len(passed_math_and_reading) / total_students * 100



# ______________________________District Summary Dataframe ___________________________

# Consolicate for DISTRICT SUMMARY dataframe: 


district_summary_df = pd.DataFrame({"Total Schools": [total_schools],
                               "Total Students": [total_students],
                               "Total Budget": [total_budget],
                               "Average math score": [average_math],
                               "Average reading score": [average_reading],
                               "% Passing Math": [math_passed],
                               "% Passing Reading": [read_passed],
                               "% Passing Overall": [passed_math_and_reading]})

# district_summary_df = district_summary_df[[
#     "Total Schools",
#     "Total Students",
#     "Total Budget",
#     "Average Math Score",
#     "Average Reading score",
#     "% Passing Math",
#     "% Passing Reading",
#     "% Passing Overall"
# ]]

district_summary_df["Total Students"] = district_summary_df["Total Students"].map("{:,}".format)
district_summary_df["Total Budget"] = district_summary_df["Total Budget"].map("${:,.2f}".format)

district_summary_df

,Total Schools,Total Students,Total Budget,Average math score,Average reading score,% Passing Math,% Passing Reading,% Passing Overall
0,15.0,"39,170.0","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,65.172326

In [70]:
### School Summary

# Create a DataFrame that summarizes key metrics about each school, including the following:

# * School name
# * School type
# * Total students
# * Total school budget 
# * Per student budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)


# Determine the School Type
school_types = school_data.set_index(["school_name"])["type"]


#Total Students
school_total_students = school_data.set_index(["school_name"]) ["size"]

#Total School Budget
total_school_budget = school_data.set_index(["school_name"]) ["budget"]

#per student budget by school
per_school_budget = school_data_complete.groupby(["school_name"]).mean()["budget"]
per_student_budget = per_school_budget / school_total_students

# Average math per school
school_average_math = school_data_complete.groupby(["school_name"]).mean()["math_score"]


# Average reading per school
school_average_reading = school_data_complete.groupby(["school_name"]).mean()["reading_score"]


# Percentage of those who passed reading, math, and overall (both)

#     Start by getting the count of students who passed r, m, o
#     Students who passed math
school_passing_math = school_data_complete[(school_data_complete["math_score"] >= 70)]
#     Students who passed reading
school_passing_reading = school_data_complete[(school_data_complete["reading_score"] >= 70)]
#     Students who passed overall
school_passing_overall = school_data_complete[(school_data_complete["reading_score"] >= 70)
                                                & (school_data_complete["math_score"] >= 70)]


#     Percent calculations
pct_school_passing_math = school_passing_math.groupby(["school_name"]).count()["student_name"] / school_total_students * 100
pct_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / school_total_students * 100
pct_school_passing_overall = school_passing_overall.groupby(["school_name"]).count()["student_name"] / school_total_students * 100


# ______________________________School Summary Dataframe___________________________

# SCHOOL SUMMARY: 

# Consolidate to dataFrame
per_school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": school_total_students,
                                   "Total School Budget": total_school_budget,
                                   "Per Student Budget": per_student_budget,
                                   "Average Math Score": school_average_math,
                                   "Average Reading Score": school_average_reading,
                                   "% Passing Math": pct_school_passing_math,
                                   "% Passing Reading": pct_school_passing_reading,
                                   "% Overall Passing": pct_school_passing_overall})

# Minor data wrangling
per_school_summary = per_school_summary[[
    "School Type", "Total Students", "Total School Budget", "Per Student Budget",
    "Average Math Score", "Average Reading Score", 
    "% Passing Math", "% Passing Reading", 
    "% Overall Passing"
]]


per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,"$3,124,928.00",$628.00,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,"$1,763,916.00",$644.00,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,"$248,087.00",$581.00,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,"$1,056,600.00",$600.00,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,"$1,049,400.00",$583.00,83.682222,83.955000,93.333333,96.611111,90.333333

In [40]:
# ### Highest-Performing Schools (by % Overall Passing)

# Create a DataFrame that highlights the top 5 performing schools based on % Overall Passing. Include the following metrics:

# * School name
# * School type
# * Total students
# * Total school budget
# * Per student budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)


# ______________________________Highest-Performing School Summary Dataframe___________________________

high_performance_schools = per_school_summary.sort_values("% Overall Passing", ascending=False).head(5)
high_performance_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,"$1,081,356.00",$582.00,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,"$1,043,130.00",$638.00,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,"$917,500.00",$625.00,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,"$1,319,574.00",$578.00,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,"$585,858.00",$609.00,83.839917,84.044699,94.594595,95.945946,90.540541

In [41]:

# ### Lowest-Performing Schools (by % Overall Passing)

# Create a DataFrame that highlights the bottom 5 performing schools based on % Overall Passing. Include the following metrics:

# * School name
# * School type
# * Total students
# * Total school budget
# * Per student budget
# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)


# ______________________________Lowest-Performing School Summary Dataframe___________________________


low_performance_schools = per_school_summary.sort_values("% Overall Passing", ascending=True).head(5)
low_performance_schools = low_performance_schools.sort_values("% Overall Passing", ascending=False)
low_performance_schools

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Johnson High School,District,4761,"$3,094,650.00",$650.00,77.072464,80.966394,66.057551,81.222432,53.539172
Hernandez High School,District,4635,"$3,022,020.00",$652.00,77.289752,80.934412,66.752967,80.862999,53.527508
Huang High School,District,2917,"$1,910,635.00",$655.00,76.629414,81.182722,65.683922,81.316421,53.513884
Figueroa High School,District,2949,"$1,884,411.00",$639.00,76.711767,81.158020,65.988471,80.739234,53.204476
Rodriguez High School,District,3999,"$2,547,363.00",$637.00,76.842711,80.744686,66.366592,80.220055,52.988247

In [79]:
# ### Math Scores by Grade

# Create a DataFrame that lists the average math score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# # Group by School and Grade
# school_grade_group = school_data_complete.groupby(["school_name", "grade"])

# # Calculate the average
# average_math_for_student_grade = school_grade_group.mean()
# # Remove extraneous columns
# average_math_for_student_grade = average_math_for_student_grade.drop(columns=['Student ID', 'reading_score','School ID','size','budget'])
# # Print the dataframe
# average_math_for_student_grade


# Group by School and Grade
school_grade_group = school_data_complete.groupby(["grade", "school_name"])

# Calculate the average
average_math_for_student_grade = school_grade_group.mean()
# Remove extraneous columns
average_math_for_student_grade = average_math_for_student_grade.drop(columns=['Student ID', 'reading_score','School ID','size','budget'])
# Print the dataframe
average_math_for_student_grade

                             math_score
grade school_name
10th  Bailey High School      76.996772
      Cabrera High School     83.154506
      Figueroa High School    76.539974
      Ford High School        77.672316
      Griffin High School     84.229064
      Hernandez High School   77.337408
      Holden High School      83.429825
      Huang High School       75.908735
      Johnson High School     76.691117
      Pena High School        83.372000
      Rodriguez High School   76.612500
      Shelton High School     82.917411
      Thomas High School      83.087886
      Wilson High School      83.724422
      Wright High School      84.010288
11th  Bailey High School      77.515588
      Cabrera High School     82.765560
      Figueroa High School    76.884344
      Ford High School        76.918058
      Griffin High School     83.842105
      Hernandez High School   77.136029
      Holden High School      85.000000
      Huang High School       76.446602
      Johnson High School     77.491653
      Pena High School        84.328125
      Rodriguez High School   76.395626
      Shelton High School     83.383495
      Thomas High School      83.498795
      Wilson High School      83.195326
      Wright High School      83.836782
12th  Bailey High School      76.492218
      Cabrera High School     83.277487
      Figueroa High School    77.151369
      Ford High School        76.179963
      Griffin High School     83.356164
      Hernandez High School   77.186567
      Holden High School      82.855422
      Huang High School       77.225641
      Johnson High School     76.863248
      Pena High School        84.121547
      Rodriguez High School   77.690748
      Shelton High School     83.778976
      Thomas High School      83.497041
      Wilson High School      83.035794
      Wright High School      83.644986
9th   Bailey High School      77.083676
      Cabrera High School     83.094697
      Figueroa High School    76.403037
      Ford High School        77.361345
      Griffin High School     82.044010
      Hernandez High School   77.438495
      Holden High School      83.787402
      Huang High School       77.027251
      Johnson High School     77.187857
      Pena High School        83.625455
      Rodriguez High School   76.859966
      Shelton High School     83.420755
      Thomas High School      83.590022
      Wilson High School      83.085578
      Wright High School      83.264706

In [80]:
# ### Reading Scores by Grade

# Create a DataFrame that lists the average reading score for students of each grade level (9th, 10th, 11th, 12th) at each school.

# # Group by School and Grade
# school_grade_group = school_data_complete.groupby(["school_name", "grade"])

# # Calculate the average
# average_math_for_student_grade = school_grade_group.mean()
# # Remove extraneous columns
# average_reading_for_student_grade = average_math_for_student_grade.drop(columns=['Student ID', 'math_score','School ID','size','budget'])
# # Print the dataframe
# average_reading_for_student_grade

# Group by School and Grade
school_grade_group = school_data_complete.groupby(["grade","school_name"])

# Calculate the average
average_math_for_student_grade = school_grade_group.mean()
# Remove extraneous columns
average_reading_for_student_grade = average_math_for_student_grade.drop(columns=['Student ID', 'math_score','School ID','size','budget'])
# Print the dataframe
average_reading_for_student_grade

                             reading_score
grade school_name
10th  Bailey High School         80.907183
      Cabrera High School        84.253219
      Figueroa High School       81.408912
      Ford High School           81.262712
      Griffin High School        83.706897
      Hernandez High School      80.660147
      Holden High School         83.324561
      Huang High School          81.512386
      Johnson High School        80.773431
      Pena High School           83.612000
      Rodriguez High School      80.629808
      Shelton High School        83.441964
      Thomas High School         84.254157
      Wilson High School         84.021452
      Wright High School         83.812757
11th  Bailey High School         80.945643
      Cabrera High School        83.788382
      Figueroa High School       80.640339
      Ford High School           80.403642
      Griffin High School        84.288089
      Hernandez High School      81.396140
      Holden High School         83.815534
      Huang High School          81.417476
      Johnson High School        80.616027
      Pena High School           84.335938
      Rodriguez High School      80.864811
      Shelton High School        84.373786
      Thomas High School         83.585542
      Wilson High School         83.764608
      Wright High School         84.156322
12th  Bailey High School         80.912451
      Cabrera High School        84.287958
      Figueroa High School       81.384863
      Ford High School           80.662338
      Griffin High School        84.013699
      Hernandez High School      80.857143
      Holden High School         84.698795
      Huang High School          80.305983
      Johnson High School        81.227564
      Pena High School           84.591160
      Rodriguez High School      80.376426
      Shelton High School        82.781671
      Thomas High School         83.831361
      Wilson High School         84.317673
      Wright High School         84.073171
9th   Bailey High School         81.303155
      Cabrera High School        83.676136
      Figueroa High School       81.198598
      Ford High School           80.632653
      Griffin High School        83.369193
      Hernandez High School      80.866860
      Holden High School         83.677165
      Huang High School          81.290284
      Johnson High School        81.260714
      Pena High School           83.807273
      Rodriguez High School      80.993127
      Shelton High School        84.122642
      Thomas High School         83.728850
      Wilson High School         83.939778
      Wright High School         83.833333

In [74]:
# ### Scores by School Spending

# Create a table that breaks down school performance based on average spending ranges (per student). Use your judgment to create four bins with reasonable cutoff values to group school spending. Include the following metrics in the table:

# * Average math score
# * Average reading score
# * % passing math (the percentage of students who passed math)
# * % passing reading (the percentage of students who passed reading)
# * % overall passing (the percentage of students who passed math AND reading)


# # Create the bins in which Data will be held
# # Bins are 500, 550, 600, 650, 700
# bins = [500, 550, 600, 650, 700]

# # Create the names for the five bins
# group_names = ["Lowest", "Low to Mid", "Mid", "Mid to High", "Highest"]

# scores_by_spending = per_school_summary

# scores_by_spending["Per Student Budget Summary"] = pd.cut(per_school_summary["Per Student Budget"], bins, labels=group_names, include_lowest=True)
# scores_by_spending

In [ ]:
# ### Scores by School Size

# Create a table that breaks down school performance based on school size (small, medium, or large).

In [81]:
# ### Scores by School Type

# Create a table that breaks down school performance based on type of school (district or charter).

# Group by School and Grade
scores_by_type = per_school_summary.groupby(["School Type"])

# Calculate the average
scores_by_type = scores_by_type.mean()
# # Remove extraneous columns
# average_reading_for_student_grade = average_math_for_student_grade.drop(columns=['Student ID', 'math_score','School ID','size','budget'])
# # Print the dataframe
scores_by_type

,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,,
Charter,1524.250000,83.473852,83.896421,93.620830,96.586489,90.432244
District,3853.714286,76.956733,80.966636,66.548453,80.799062,53.672208